html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color : #f2f3f4
}

td{
    font-size:16px;
}
th{
    font-weight:bold;
}
input{
    border-color:#3459e6 !important;
}
select {
    border-color: #3459e6 !important;
}
textarea {
    border-color: #3459e6 !important;
}