@{
    ViewData["Title"] = "Home Page";
}
<br/><br/>
<div class="text-center">
    <h1 class="display-4">Welcome to Student Registration Web App</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br/> <br/>
<div class="container">
    <div class="row">
        <div class="col-md-4">
<div>
    <div class="card border-0" style="width: 18rem;">
  <div class="card-body">
    <img class="card-img-top" src="https://img.icons8.com/color/250/000000/circled-user-male-skin-type-1-2--v1.png"/>
    <h5 class="card-title" style="font-weight:bold;color:black">Student Registration</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a asp-controller="Form" asp-action="Index" class="btn btn-primary">Check Student Data</a>
  </div>
</div>
</div>
</div>
        <div class="col-md-4">
<div>
    <div class="card border-0" style="width: 18rem;">
  <div class="card-body">
      <br />
<img style="display:block;margin:auto" src="https://img.icons8.com/external-kosonicon-flat-kosonicon/190/000000/external-education-insurance-kosonicon-flat-kosonicon.png"/>
<br />
<h5 class="card-title" style="font-weight:bold;color:black">Courses Data</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a asp-controller="Course" asp-action="Index" class="btn btn-primary">Check Courses</a>
  </div>
</div>
</div>
</div>

        <div class="col-md-4">
<div>
    <div class="card border-0" style="width: 18rem;">
  <div class="card-body">
    <img class="card-img-top" src="https://img.icons8.com/fluency/245/000000/form.png"/>
    <h5 class="card-title" style="font-weight:bold;color:black">Stream Data</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a asp-controller="Stream" asp-action="Index" class="btn btn-primary">Check Streams</a>
  </div>
</div>
</div>
</div>
    </div>
    </div>
