@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to First MVC WebApp</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
<div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <img class="card-img-top" src="https://img.icons8.com/color/198/000000/ingredients-list.png"/>
    <h5 class="card-title" style="font-weight:bold">Categories</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a asp-controller="Category" asp-action="IndexCategory" class="btn btn-primary">Check Categories </a>
  </div>
</div>
</div>
</div>
        <div class="col-md-4">
<div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <img src="https://img.icons8.com/color/255/000000/circled-user-male-skin-type-1-2--v1.png"/>
    <h5 class="card-title" style="font-weight:bold">Profile</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a asp-controller="Profile" asp-action="Index" class="btn btn-primary">Check Profile </a>
  </div>
</div>
</div>
</div>
    </div>
    </div>
